.hero-banner {
  background-repeat: no-repeat;
}

.hero-banner--article {
  min-height: 278px;
  background-position: center;
  background-size: cover;
}
.index-section{
  overflow: visible;
}

// .video-wrapper{
//   position: sticky;
//   top: 0;
// }
// .video_text_overlay{
//   position: sticky;
//   top: 0;
// }
