<section class="student__hero">

<h1>{{ page.title }}</h1>
</section>

<div class="student__iframe">
  <script data-iframe='https://connect.studentbeans.com/v2/speks/us' data-load='connect' id='stb_root' src='https://cdn.studentbeans.com/third-party/all.js'></script>
</div>

{% section 'instagram-feed' %}
