<section class="product-icons">
  <div class="product-icons__group">
    {% include 'sameday' %}
    <p>ships <br>same day</p>
  </div>
  <div class="product-icons__group">
    {% include 'freeship' %}
    <p>free shipping on <br>all us orders</p>
  </div>
  <div class="product-icons__group">
    {% include 'exclusive' %}
    <p>exclusive <br>products</p>
  </div>
  <div class="product-icons__group">
    {% include 'finish' %}
    <p>you made <br>it this far.</p>
  </div>
</section>
