<section class="faq__hero ">
  {% if section.settings.title %}
  <h1 class="gutter">{{ section.settings.title }}</h1>
  {% endif %}
</section>

{% schema %}
  {
    "name": "FAQ Hero",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Headline",
        "default": "Wholesale"
      }

    ],
    "presets": [
      {
        "name": "FAQ Hero",
        "category": "Text"
      }
    ]
  }
{% endschema %}
