{%- comment -%}
  This is a required section for the Shopify Theme Store.
  It is available when you add the "Image with text" section in the theme editor.

  Theme Store required settings
  - Image
  - Heading: title of the block
  - Text: description of the block

  Theme Store optional settings
  - Button label: label associated with the button
  - Button link: link of the button
{%- endcomment -%}

<section class="image-with-text  image-with-text__ed">


  <div class="image-with-text__text">
    {% if section.settings.imageheader != blank %}
      {% include 'responsive-image' with
        image: section.settings.imageheader,
        max_width: 845,
        max_height: 845
      %}
      {% endif %}
    {% if section.settings.title != blank %}
      <h4>{{ section.settings.title | escape }}</h4>
    {% endif %}
    {% if section.settings.button_label != blank and section.settings.button_link != blank %}
      <a class=" btn btn__green"href="{{ section.settings.button_link }}">
        {{ section.settings.button_label | escape }}
      </a>
    {% endif %}
  </div>

</section>
<div class="image-with-text__image">
  {% if section.settings.image != blank %}
    {% include 'responsive-image' with
      image: section.settings.image,
      max_width: 845,
      max_height: 845
    %}
  {% else %}
    {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
  {% endif %}
</div>

{% schema %}
  {
    "name": "Speks ED section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "imageheader",
        "label": "Header Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Image with text"
      },
      {
        "type": "text",
        "id": "button_label",
        "label": "Button label"
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button link"
      }
    ],
    "presets": [
      {
        "name": "Speks ED section",
        "category": "Image"
      }
    ]
  }

{% endschema %}
